body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Trebuchet MS", sans-serif ;
    background-color: #ff9e1b;
    height: 100vh;
}

.navbar {
    background-color: #1e52eb;
    color: #fff;
    font-size: 0.85rem;
    height: 60px;
}

.nav-item {
    border-bottom: 2px solid transparent;
    padding: 10px;
}

.nav-item:hover {
    border-bottom: 2px solid;
    border-color: #ffffff;
    cursor: pointer;
}

.container {
    height: 90vh;
    font-size: 1rem;
}

.card {
    width :25%;
    height: 25rem;
    background-color: #ff8c00;
}

.header {
    padding: 100px;
}

#aboutMe {
    display: none;
}

#portfolio {
    display: none;
}

#home {
    display: flex;
}

#contactMe {
    display: none;
}

.card-img-top {
    height: 216px;
}

@media only screen and (max-width: 905px) {
    #homebtn {
        background-image: url(../Assets/home.png);
        background-size: cover;
    }

    .nav-item {
        height: 50px;
        width: 50px;
        padding: 0;
        margin: 0 2px 0 2px;
        color: transparent;
    }

    .nav-item:hover {
        cursor: pointer;
    }

    #aboutmebtn {
        background-image: url(../Assets/aboutme.png);
        background-size: cover;
    }

    #portfoliobtn {
        background-image: url(../Assets/portfolio.png);
        background-size: cover;
    }

    #contactMebtn {
        background-image: url(../Assets/contactme.png);
        background-size: cover;
    }


    .abmimg {
        object-fit: scale-down;
    }

}

@media only screen and (max-width: 905px) {
    .card {
        width: 100%;
    }

    .cardcontanier {
        display: block!important;
        overflow: auto;
    }

    .aboutmecontainer {
        flex-direction: column!important;
    }

}
