*{
	box-sizing:border-box;
	font-family: 'Nanum Gothic', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

a{
	text-decoration: none;
	text-decoration-color: #736d6c;
	color:inherit;
}
.navholder{
	display:flex;
	align-items:center;
}	
/*@media only screen and (max-width:850px)
{
	.navholder{
		display: flex;
		flex-direction:column;
		align-items: center;
		width: 100%;
	}
}*/
.sticky{
		width:100%;
		justify-content: center;
		display: flex;
		position:fixed;
		top:0;
		padding:0;
		margin-bottom:auto;
		margin: 0px;
		z-index: 10;
		background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}
body{
		font-size:62.5%;
		margin: 0;
		padding: 0;
		z-index: 1;
		background-image: url(/Users/academy/Documents/portfolio/Assets/worldlights.jpg);
		background-repeat: no-repeat;
		flex-direction:column;
		background-attachment: fixed;
		background-size: cover;
		background-color:#464646;
		display: flex;
		align-items:center;
		justify-content:flex-start;
		font-size:1.5rem;
		color: #ffffff;
}
nav{
		display: flex;
		flex-direction: row;
		justify-content:flex-end;
		align-items: center;
		font-size:1.5rem;
		background-color: transparent;
		width: 75%;	
		margin:0 auto;
		position:sticky;
		padding-top: 30px;
		padding-bottom: 30px;
		margin: 0px;
		z-index: 5;
		/*background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));*/
}
nav:hover{
	opacity:1;
}

.home{
		margin-left:15px;
		padding: 10px;
		border-bottom: 2px solid;
		border-color: transparent;
	}
.home:hover{
		border-bottom: 2px solid;
		border-color: #2bd128;
}
@media only screen and (max-width: 850px) {
    .home{
        background-image: url(/Users/academy/Documents/portfolio/Assets/home.png);
		background-size: cover;
        height: 50px;      
        width:  50px;
		padding:0px;
        color: transparent;
    }
	.about{
		background-image: url(/Users/academy/Documents/portfolio/Assets/aboutme.png);
		background-size: cover;
        height: 50px;      
        width:  50px;
		padding:0px;
        color: transparent;
    }
	.portfolio{
		background-image: url(/Users/academy/Documents/portfolio/Assets/portfolio.png);
		background-size: cover;
		height: 50px;      
		width:  50px;
		padding:0px;
		color: transparent;
	}
	.contact{
		background-image: url(/Users/academy/Documents/portfolio/Assets/contactme.png);
		background-size: cover;
		height: 50px;      
		width:  50px;
		padding:0px;
		color: transparent;
	}
	nav{
		width:100%;
	}
}
.portfolio{
		margin-left:15px;
		padding: 10px;
		border-bottom: 2px solid;
		border-color: transparent;
}
.portfolio:hover{
		border-bottom: 2px solid;
		border-color: #2bd128;
}
.portfolio{
		margin-left:15px;
		padding: 10px;
		border-bottom: 2px solid;
		border-color: transparent;
}
.portfolio:hover{
		border-bottom: 2px solid;
		border-color: #2bd128;
}
.about{
		margin-left:15px;
		padding: 10px;
		border-bottom: 2px solid;
		border-color: transparent;
		text-align:center;
}
.about:hover{
		border-bottom: 2px solid;
		border-color: #2bd128;
}
.contact{
		padding: 10px;
		margin-left:15px;
		border-bottom: 2px solid;
		border-color: transparent;
		text-align:center;
}
.contact:hover{
		border-bottom: 2px solid;
		border-color: #2bd128;
}
.introbox{
		margin-top:20px;
		display:flex;
		align-items:center;
		justify-content:center;
		width:70%;
		text-align: center;
}
@media only screen and (max-width:850px)
{
	.introbox{
		margin-top:20px;
		display:flex;
		align-items:center;
		justify-content:center;
		width:70%;
		text-align: center;
	}
}
h1{
	margin:70px;
}
h2{
	margin:20px;
	width:70%;
	border-bottom: 2px solid;
	border-color:#2bd128;
	text-align:center;
}
.aboutmecontainer{
		width:70%;
		display:flex;
		justify-content:flex-start;
}
@media only screen and (max-width:900px)
{
	.aboutmecontainer{
		width:70%;
		display:flex;
		align-items:center;
	}
}
@media only screen and (max-width:700px)
{
	.aboutmecontainer{
		width:70%;
		display:flex;
		flex-direction:column;
	}
	
}

.abmimg{
		transition: transform .2s;
		border-radius:50%;
}
.abmimg:hover{
		transform: scale(1.5);
}
.portimg{
		transition: transform .2s;
}
.portimg:hover{
		transform: scale(1.5);
}
.contentcontainer{
		margin-left: 80px;
}
@media only screen and (max-width:700px)
{
	.contentcontainer{
			margin-left: 0px;
		}
}
h2{
	padding:40px;
}
.aboutmecontainer{
		width:70%;
		display:flex;
		justify-content:flex-start;
}
.portcontainer{
		width:70%;
		display:flex;
		justify-content:center;
}
.rowcontainer{
		display:flex;
		flex-direction:row;
		flex-basis:20%;
}
@media only screen and (max-width:1682px)
{
	.rowcontainer{
		display: flex;
		flex-direction:column;
	}
}
.columncontainer{
		display:flex;
		flex-direction:column;
		align-items:center;
}
.portcontainer{
		display:flex;
		flex-direction:column;
		text-align:center;
}
.porttitle{
		margin-top:40px;
}
.contactme{
		width:70%;
		display:flex;
		justify-content:center;
		text-align:center;
}
.aboutmecontainer{
		width:70%;
		display:flex;
		justify-content:center;
		text-align:center;
}
.contactme{
		flex-direction:column;
		align-items:center;
}
.social{
		margin:40px;
}
.icon{
		width:50px;
		height:50px;
		position:relative;
		opacity:0.5;
}
.icon:hover{
		opacity:1;
}
.email:hover{
	background-image: linear-gradient(to top, rgba(73,23,166,0), rgba(73,23,166,1));
	padding:5px;
}
footer{
	width:100%;
	background-color:#868687;
}